<form (ngSubmit)="createForm()" [formGroup]="dinamicForm">
  <div class="modal fade" id="createFormModal" tabindex="-1" aria-labelledby="createFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex flex-wrap align-items-center">
            <h5 class="modal-title font-20 fw-bold" id="createFormModalLabel">Formulario</h5>
            <button type="button" class="btn btn-outline-dark btn-sm ms-3 px-3 font-13 shadow-none"
              (click)="addInput()">Agregar campo</button>
            <p class="font-13 my-auto ms-md-3 d-none d-md-block"><b>Nota</b>: Los campos marcados con <span
                class="text-secondary-custom">*</span> son
              obligatorios</p>
          </div>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h1 class="fw-bold font-20 mt-4">Configuración del formulario</h1>
          <label class="label">Nombre del formulario <span class="text-secondary-custom">*</span></label>
          <input class="form-control shadow-none" placeholder="Ingresa el nombre del formulario" formControlName="name">
          <label class="label">Estado <span class="text-secondary-custom">*</span></label>
          <select class="form-select shadow-none" formControlName="state">
            <option disabled selected value="">Selecciona una opción</option>
            <option value="true">Público</option>
            <option value="false">Privado</option>
          </select>
          <p class="font-13 mt-4 d-md-none"><b>Nota</b>: Los campos marcados con <span
              class="text-secondary-custom">*</span> son
            obligatorios</p>

          <h1 class="fw-bold font-20 mt-4">Campos</h1>

          <!--Empty inputs array-->
          <div class="py-5 text-center" *ngIf="dinamicForm.value.inputs.length === 0; else inputs_avaliable">
            <div class="fs-1 mt-5">
              <i class="bi bi-boxes"></i>
            </div>
            <div class="mb-5 fs-6">
              No has agregado campos al formulario
            </div>
          </div>

          <ng-template #inputs_avaliable>
            <div class="accordion accordion-flush" id="accordionFlushInputs">
              <div formArrayName="inputs" class="accordion-item" *ngFor="let input of inputs.controls; let i = index">
                <h2 class="accordion-header" [id]="'flush-heading-' + input.value.key">
                  <button class="accordion-button shadow-none collapsed font-14" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#flush-collapse' + input.value.key" aria-expanded="false"
                    [attr.aria-controls]="'flush-collapse' + input.value.key">
                    Campo #{{ i + 1 }}
                  </button>
                </h2>
                <div id="flush-collapse{{ input.value.key }}" class="accordion-collapse collapse"
                  [attr.aria-labelledby]="'flush-heading'+input.value.key" data-bs-parent="#accordionFlushInputs">
                  <div class="accordion-body">
                    <div [formGroupName]="i" class="d-flex flex-wrap">
                      <div class="col-md-6 pe-md-4 flex-fill">
                        <h1 class="fw-bold font-20 mt-3">Configuraciones</h1>

                        <!--Input name-->
                        <label class="label" [attr.for]="'label' + input.value.key">Nombrel del campo <span
                            class="text-secondary-custom">*</span></label>
                        <input class="form-control config shadow-none" placeholder="Ingresa el nombre del campo"
                          [attr.id]="'label' + input.value.key" formControlName="label">

                        <!--Input configuration-->
                        <div *ngIf="input.value.label !== ''">
                          <div class="d-flex flex-wrap">
                            <!--Input required?-->
                            <div class="form-check form-switch me-3">
                              <input class="form-check-input shadow-none" type="checkbox" id="flexSwitchCheckRequired"
                                formControlName="required" checked>
                              <label class="form-check-label font-13" for="flexSwitchCheckRequired"
                                *ngIf="input.value.required === false; else required_input">No obligatorio</label>
                              <ng-template #required_input>
                                <label class="form-check-label font-13"
                                  for="flexSwitchCheckRequired">Obligatorio</label>
                              </ng-template>
                            </div>

                            <!--Input have restrictions?-->
                            <div formGroupName="restrictions"
                              *ngIf="input.value.type === 'date' || input.value.type === 'number'">
                              <div class="form-check form-switch">
                                <input class="form-check-input shadow-none" type="checkbox"
                                  id="flexSwitchCheckRestriction" formControlName="required" checked>
                                <label class="form-check-label font-13" for="flexSwitchCheckRestriction"
                                  *ngIf="input.value.restrictions.required === false; else restriction_input">Sin
                                  restricciones</label>
                                <ng-template #restriction_input>
                                  <label class="form-check-label font-13" for="flexSwitchCheckRestriction">Con
                                    restricciones</label>
                                </ng-template>
                              </div>
                            </div>

                          </div>

                          <!--Input type-->
                          <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <label class="label">Tipo de campo <span class="text-secondary-custom">*</span></label>
                            <button type="button" class="btn btn-outline-dark btn-sm px-2 font-13 shadow-none"
                              (click)="addOption(i)" *ngIf="input.value.type === 'select'">Agregar opción</button>
                          </div>

                          <select class="form-select shadow-none" formControlName="type"
                            (change)="onSelectTypeChange(i)">
                            <option disabled selected value="">Selecciona una opción</option>
                            <option value="text">Texto</option>
                            <option value="number">Númerico</option>
                            <option value="date">Fecha</option>
                            <option value="select">Selección</option>
                            <option value="textarea">Descripción</option>
                          </select>

                          <!--Options-->
                          <div class="accordion accordion-flush" id="accordionFlushOptions"
                            *ngIf="input.value.type === 'select'">
                            <div *ngFor="let option of options(i).controls; let j = index" formArrayName="options">
                              <div class="accordion-item" *ngIf="j !== 0">
                                <h2 class="accordion-header" [id]="'flush-heading-' + option.value.key">
                                  <button class="accordion-button shadow-none collapsed font-14" type="button"
                                    data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#flush-collapse' + option.value.key" aria-expanded="false"
                                    [attr.aria-controls]="'flush-collapse' + option.value.key">
                                    Opción #{{ j }}
                                  </button>
                                </h2>
                                <div id="flush-collapse{{ option.value.key }}" class="accordion-collapse collapse"
                                  [attr.aria-labelledby]="'flush-heading' + option.value.key"
                                  data-bs-parent="#accordionFlushOptions">

                                  <div class="accordion-body">
                                    <div [formGroupName]="j">
                                      <div class="d-flex flex-wrap">
                                        <div class="flex-fill">
                                          <h1 class="fw-bold font-20 mt-3 mx-0">Configuración de la opción</h1>
                                          <label class="label" [attr.for]="'value' + option.value.key">Nombrel de la
                                            opción <span class="text-secondary-custom">*</span></label>
                                          <input class="form-control config shadow-none"
                                            [attr.id]="'value' + option.value.key" formControlName="value"
                                            placeholder="Ingresa el nombre de la opción">

                                          <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-danger font-13 shadow-none"
                                              (click)="removeOption(i, j)">Eliminar
                                              opción</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--Placeholder-->
                          <div *ngIf="input.value.type !== 'date' && input.value.type !== 'select'">
                            <label class="label" [attr.for]="'placeholder' + input.value.key">Indicador de
                              ayuda</label>
                            <input class="form-control shadow-none"
                              placeholder="Ingresa la indicación de ayuda. Ej: Ingresa tu nombre"
                              [attr.id]="'placeholder' + input.value.key" formControlName="placeholder">

                            <div id="placeholderHelp" class="form-text text-break font-13 help-message">Esta opción
                              permite al
                              usuario saber qué es lo que debe diligenciar aquí.</div>
                          </div>

                          <!--Restrictions configuration-->
                          <div *ngIf="input.value.type === 'date' || input.value.type === 'number'">
                            <h1 class="fw-bold font-20 mt-4">Restricciones <span class="text-secondary-custom">*</span>
                            </h1>
                            <div formGroupName="restrictions">
                              <label class="label" [attr.for]="'restriction' + input.value.key">Valor mínimo</label>
                              <input class="form-control shadow-none" placeholder="Ingresa un valor mínimo"
                                [attr.id]="'min' + input.value.key" formControlName="min" [type]="input.value.type">

                              <label class="label" [attr.for]="'restriction' + input.value.key">Valor máximo</label>
                              <input class="form-control shadow-none" placeholder="Ingresa un valor máximo"
                                [attr.id]="'max' + input.value.key" formControlName="max" [type]="input.value.type">
                            </div>
                            <div id="restrictionHelp" class="form-text text-break font-13 help-message">
                              <i class="bi bi-grip-vertical"></i> Esta opción
                              permite establecer límites al
                              usuario con el fin de evitar información errónea o no deseada en los diligenciamientos del
                              formulario. Ej: Si el tipo de campo es númerico y se establece un <b>valor mínimo</b> de
                              5, el
                              usuario solo podrá diligenciar números superiores a 5 y así en demas casos.
                            </div>
                          </div>


                          <!--Custom error message-->
                          <div *ngIf="input.value.required">
                            <label class="label" [attr.for]="'error_message' + input.value.key">Mensaje de
                              error <span class="text-secondary-custom">*</span></label>
                            <input class="form-control shadow-none"
                              placeholder="Ingresa un mensaje de error. Ej: Por favor ingresa tu nombre"
                              [attr.id]="'error_message' + input.value.key" formControlName="error_message">

                            <div id="errorMessageHelp" class="form-text text-break font-13 help-message">Esta opción
                              permite al
                              usuario saber en qué se está equivocando.</div>
                          </div>
                        </div>
                      </div>

                      <!--Visual representation-->
                      <div class="col-md-6 flex-fill">
                        <h1 class="fw-bold font-20 mt-3">Representación visual</h1>

                        <!--Basic configuration not ready-->
                        <div class="py-5 text-center" *ngIf="input.value.label === '';else show_representation">
                          <div class="fs-1 mt-auto">
                            <i class="bi bi-box"></i>
                          </div>
                          <div class="mb-auto font-13 text-break">
                            Configura el campo para su visualización
                          </div>
                        </div>

                        <!--Basic configuration ready-->
                        <ng-template #show_representation>
                          <label [attr.for]="'label' + input.value.key" class="label">{{ input.value.label }} <span
                              class="text-secondary-custom" *ngIf="input.value.required === true">*</span></label>
                          
                          <div
                            *ngIf="input.value.type !== 'select' && input.value.type !== 'textarea';else input_select">
                            <input class="form-control shadow-none" [type]="input.value.type"
                              [placeholder]="input.value.placeholder" [min]="input.value.restrictions.min" [max]="input.value.restrictions.max">
                          </div>

                          <ng-template #input_select>
                            <select class="form-select shadow-none" formArrayName="options"
                              *ngIf="input.value.type === 'select';else textarea">
                              <option *ngFor="let option of options(i).controls; let j = index" [formGroupName]="j"
                                [disabled]="option.value.value === '' && j === 0"
                                [selected]="option.value.value === ''  && j === 0" [value]="option.value.value">
                                <span *ngIf="option.value.value === '' && j === 0;else printOptionValue">Selecciona
                                  una
                                  opción</span>
                                <ng-template #printOptionValue>
                                  {{option.value.value}}
                                </ng-template>
                              </option>
                            </select>
                          </ng-template>

                          <ng-template #textarea>
                            <textarea class="form-control shadow-none"
                              [placeholder]="input.value.placeholder"></textarea>
                          </ng-template>

                          <div class="form-text text-secondary-custom font-13" *ngIf="input.value.required">
                            <i class="bi bi-exclamation-circle"></i>
                            &nbsp;{{input.value.error_message}}
                          </div>
                        </ng-template>


                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-danger font-13 shadow-none" (click)="removeInput(i)">Eliminar
                        campo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="modal-footer">
          <p class="me-auto font-13">Código: <b>{{key}}</b></p>
          <button type="button" class="btn btn-secondary font-13 shadow-none" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary font-13 shadow-none">Crear formulario</button>
        </div>
      </div>
    </div>
  </div>
</form>
