<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-3">
      <div>
        <span class="badge bg-primary text-dark fw-normal me-2">Módulo</span>
        <span class="badge bg-dark-custom fw-normal font-12">axb</span>
      </div>
      <div class="font-12 mt-1">
        <i class="bi bi-clock me-2 text-secondary-custom"></i><span class="text-muted">04/01/2022</span>
      </div>
    </div>
    <h5 class="h5 text-break card-title">
      <a [routerLink]="['axb']" class="text-decoration-none">Título de prueba</a>
    </h5>
    <div class="text-break font-13 text-muted">
      Descripción de prueba
    </div>
    <div class="font-12 mt-2">
      <i class="bi bi-window-stack me-2"></i><span class="text-muted">15 formularios</span>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-3">
      <div class="d-flex align-items-center">
        <div class="avatar">
          <img class="avatar-img rounded-circle"
            src="https://ci5.googleusercontent.com/proxy/UdBKn_RzxvI0tpFeaHZH6qjRQflXD1FVkaKHQLxpPMCyp4rb_JsvRhUd3X6hT680rGauqrNvGg4v5Lh0GZuxPsl8_pNVA1bhQMf9F71p=s0-d-e1-ft#https://ssl.gstatic.com/s2/profiles/images/silhouette64.png"
            alt="avatar">
        </div>
        <p class="mb-0 ms-2 text-dark font-13 text-truncate" style="max-width: 100px;">Usuario de prueba</p>
      </div>
      <div class="mt-3 mt-sm-0">
        <button class="btn btn-dark btn-sm px-3 font-13">Ver más</button>
      </div>
    </div>
  </div>
</div>