<div class="mb-4">
  <div class="mb-3 d-flex align-items-center">
    <div class="me-2">
      <a [routerLink]="['..']" class="btn btn-back d-flex justify-content-center align-items-center shadow-none"
        style="width: 40px;height: 40px;">
        <i class="bi bi-chevron-left"></i>
      </a>
    </div>
    <div class="ms-2">
      <span class="badge bg-primary text-dark fw-normal font-13 me-2">Módulo</span>
      <span class="badge bg-dark-custom fw-normal font-13">{{ code }}</span>
    </div>
  </div>
  <h1 class="fw-bold font-28">Título de prueba</h1>
  <div class="text-break font-14 text-muted mt-3">
    Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in
    equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do.
  </div>
  <div class="d-flex flex-wrap mb-5">
    <div class="font-13 me-4  mt-3">
      <i class="bi bi-clock me-1"></i><span>04/01/2022</span>
    </div>
    <div class="font-13 me-4 mt-3">
      <i class="bi bi-window-stack me-1"></i><span>15 formularios</span>
    </div>
    <div class="font-13 mt-3">
      <i class="bi bi-person me-1"></i><span class="font-12 fw-bold">Pablo Andrés Guzmán Ríos</span>
    </div>
  </div>
  <app-forms-module></app-forms-module>
</div>